@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import 'components.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #fefefe;
}

html {
  @apply bg-backgroundColor h-screen;
  background: url('/public/background.jpg') no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
}

ul {
  list-style-type: none;
}
